body {
  margin: 0 auto;
  padding: 0;
  width: 1600px;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  height: 95px;
  background-color: black;
  color: #ffffff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  z-index: 2;
  
}

header h1 {
  display: none;
}

.logo {
  background-image: url("assets/img/vector.png");
  width: 44px;
  height: 44px;
  margin: 0 105px 5px 15px;
  z-index: 2;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  list-style-type: none;
  padding: 5px 0 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin: 0 5px 0;
  z-index: 2;

}

nav ul li {
  margin-right: 85px;
  margin-left: -5px; 
  padding: 0;
  z-index: 2; 
}

nav ul li:last-child {
  margin-right: 0;
}


nav ul li a:hover,
nav ul li a:active,
.active {
  color: #f06c64;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.slider {
  width: 100%;
  height: 744px;
  background-image: url("assets/img/bg-image.png");
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  top: -95px;
}

.slider h2 {
  font-size: 64px;
  font-weight: 700;
  color: white;
  letter-spacing: 4.5px;
  line-height: 75px;
  margin: -65px auto 21px;
  padding: 0;
}

.slider h4 {
  width: 504px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}


.start-btn {
  background-color: #00AFDB;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 14px 46px;
  margin: 0 auto;
  z-index: 5;
}

.slider-btn {
  position: relative;
  top: 33px;
}

.start-btn:hover {
  background-color: blue;
  cursor: pointer;
}

.social-info {
  width: 170px;
  height: 20px;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto 12px;
  align-items: flex-start;
  z-index: 2;
  position: relative;
  top: 215px;
}

.social-info img {
  width: 20px;
  height: 20px;
  margin-right:30px;
}

.social-info img:hover {
  background-color: blue;
  border-radius: 50%;
  cursor: pointer;
}

.offer, .implement {
  width: 100%;
  height: 842px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0 150px;
  position: relative;
  top: -95px;
}

.content-block {
  width: 407px;
  height: 233px;
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  justify-content: space-between;
  margin: 0;
  color: black;
  padding: 0;
}

.content-block h3 {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 28.13px;
  font-weight: 700;
  text-align: left;
  margin: -10px 0 -25px;
  padding: 0;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
}

.content-block p {
  text-align: left;
  margin: -3px -2px 10px;
} 

.offer-btn {
  margin: -25px 222px 10px -3px;
  border: 0;
}

.content-image {
  margin: -13px -5px 0 0;
  padding: 0;
}

.about-us {
  width: 100%;
  height: 504px;
  background-color: #F5F6F7;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  top: -95px;
}

.user-card {
  width: 298px;
  height: 175px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  margin: -15px 147px 0 0;
  color: black;
  padding: 0;
  text-align: center;
}

.user-card h3 {
  margin: 18px 0 -3px;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2.4px;
}

.user-card img {
  border-radius: 50%;
}

.about-us-slider {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 83px;
  position: relative;
  top: -15px;
  left: 130px;
  font-size: 18px;
  font-weight: 400;
}

.left {
  margin-right: 14px;
}

.right {
  margin-left: 14px;
}

.left:hover,
.right:hover {
  opacity: 0.5;  
}

.slider-photos {
  padding: 0 0 40px;
  
}

.slider-photos img {
  margin-left: 30px;
}


.slider-photos img:first-child {
  margin-left: -15px;
  position: relative;
  left: 13px;
}

.modified-pos {
  height: 184px;
  margin: 0 150px 0 -5px;
}


.add-margin {
  margin-left: 43px;
}

.size-mod {
  width: 180px;
}

.sign-up {
  width: 100%;
  height: 524px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  z-index: 0;
  position: relative;
  top: -95px;
  background-image: url("assets/img/pexels-christina-morillo-1181675.png"); 
}

.sign-up h2, .download h2 {
  font-size: 24px;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  line-height: 28.13px;
  margin: 0 auto -10px;
  padding: 0;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0;
}

.form-btn {
  background-color: #00AFDB;
  background-image: url("assets/img/check-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 67px;
  height: 46px;
  margin: 50px 0 0;
  position: relative;
  top: -7px;
  left: 1px;
  border: none;
  
}

.form-btn:hover {
  background-color: green;
  cursor: pointer;
}

form input {
  width: 305px;
  font-size: 14px;
  font-weight: 400;
  padding: 13px 15px;
  margin: -25px -5px 0 0;
  position: relative;
  top: -25px;
}

.download {
  width: 100%;
  height: 464px;
  position: relative;
  top: -95px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.download h2 {
  color: black;
  margin: -75px auto 5px;
  padding: 0;
}

.text-wrap {
  width: 480px;
}

.download p {
  color: black;
  text-align: center;
}

.reference {
  display: flex;
  flex-flow: row nowrap;
}

.reference input {
  width: 127px;
  height: 42px;
  background-color: #00AFDB;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 3px 5px;
  border: none;
  position: relative;
  top: 15px;
  left: 5px;
}

.ref-btn {
  background-color: #009CC2;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 59px;
  height: 48px;
  border: none;
  position: relative;
  top: 15px;
  left: -7px;
}

.appl {
  background-image: url("assets/img/icon-apple.png");
  margin-right: 20px;
}

.andr {
  background-image: url("assets/img/icon-android.png");
}

.reference input:hover{
  background-color: #009CC2;
  cursor: pointer;
}

footer {
  height: 185px;
  background-color: black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: relative;
  top: -95px;
  padding: 0 160px 20px;
  box-sizing: border-box;
}

nav ul li .foot {
  margin: -20px 30px 0;
}

ul .foot {
  margin: 0;
  padding: 0;
}

.foot::after {
  content: '';
  display: inline-block;
  background-image: url("assets/img/mnu-divider.png");
  background-repeat: no-repeat; 
  width: 8px;
  height: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.foot-mod {
  position: relative;
  left: 10px;
}

